@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary:#2980b9; 
  --income: #3f80ab;
  --expenses:#54809c;
  --savings: #6a808e;
  --header: #023059;
  --asap-condensed: "Asap Condensed", sans-serif;
}

@theme inline {
  --color-income: var(--income);
  --color-expenses: var(--expenses);
  --color-savings: var(--savings);
  --color-header: var(--header);
  --color-primary: var(--primary);
  --color-navbar: var(--secondary);
  --font-asap-condensed: var(--asap-condensed);
}

body {
  font-family: var(--asap-condensed);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
