@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary:#023059; 
  --income: #03658C;
  --expenses: #F7374F;
  --savings: #F29F05;
  --background: white;
  --raleway: "Raleway", sans-serif;
}

@theme inline {
  --color-income: var(--income);
  --color-expenses: var(--expenses);
  --color-savings: var(--savings);
  --color-primary: var(--primary);
  --color-navbar: var(--secondary);
  --font-raleway: var(--raleway);
}

body {
  font-family: var(--raleway);
  color: var(--primary);
}
